<div class="sidebar bg-white text-gray-700 w-64 h-auto rounded-2xl">
  <a
    href="#"
    class="menu-item flex items-center p-4 mb-2 mt-10 rounded-xl hover:bg-slate-200 scale-110"
  >
    <i class="fas fa-tachometer-alt mr-2"></i> Home
  </a>
  <a
    href="#"
    class="menu-item flex items-center p-4 mb-2 rounded-xl hover:bg-slate-200 scale-110"
  >
    <i class="fas fa-users mr-2"></i> Dashboard
  </a>
  <a
    href="#"
    class="menu-item flex items-center p-4 mb-2 rounded-xl hover:bg-slate-200 scale-110"
  >
    <i class="fas fa-calendar-alt mr-2"></i> Users
  </a>
  <a
    href="#"
    class="menu-item flex items-center p-4 mb-2 rounded-xl hover:bg-slate-200 scale-110"
  >
    <i class="fas fa-calendar-alt mr-2"></i> Calendar </a
  ><a
    href="#"
    class="menu-item flex items-center p-4 mb-2 rounded-xl hover:bg-slate-200 scale-110"
  >
    <i class="fas fa-calendar-alt mr-2"></i> Projects
  </a>
  <a
    href="#"
    class="menu-item flex items-center p-4 mb-2 rounded-xl hover:bg-slate-200 scale-110"
  >
    <i class="fas fa-project-diagram mr-2"></i>Help
  </a>
  <a
    href="#"
    class="menu-item flex items-center p-4 mb-8 rounded-xl hover:bg-slate-200 scale-110 mt-96"
  >
    <i class="fas fa-project-diagram mr-2"></i> {{ userEmail }}
  </a>
</div>
