<div class="meetings-component">
  <h2 class="text-2xl font-semibold ml-4 mb-2">Meetings</h2>

  <ul class="list-none">
    <li *ngFor="let user of randomUsers" class="flex items-center">
      <div
        class="meeting-item bg-white p-4 rounded-2xl shadow-md flex items-center m-4 w-96"
      >
        <img
          [src]="user.picture.large"
          alt="Profilul utilizatorului"
          class="h-8 w-8 mr-6 rounded-full"
        />
        <div>
          <h2>{{ user.name.first }} {{ user.name.last }}</h2>
          <p>8:00-9:00</p>
        </div>
      </div>
    </li>
    <li class="flex items-center justify-center mb-2">
      <div
        class="meeting-item bg-white rounded-2xl pl-44 p-4 shadow-md m-4 mb-10 w-96 hover:bg-slate-200"
      >
        +
      </div>
    </li>
  </ul>
</div>
